# Virtual environement
venv/
.env

# Temporary python files
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints
notebooks/

# dbt
next_station/dbt_packages/
next_station/dbt_internal_packages/
next_station/logs/
next_station/target/


